{% extends 'base.html.twig' %}

{% block title %}Portfolio - Projets Réalisés - Digitalfy{% endblock %}

{% block meta_description %}Découvrez mes réalisations : sites web Symfony, applications mobiles React Native pour restaurants, boutiques et professionnels à Nîmes.{% endblock %}

{% block body %}
<div class="page-header">
    <div class="container">
        <h1>Portfolio</h1>
        <p class="lead">Découvrez mes réalisations</p>
    </div>
</div>

<section class="projects-list">
    <div class="container">
        <div class="projects-grid">
            {# Projects will be populated from controller #}
        </div>
    </div>
</section>
{% endblock %}
