{% extends 'base.html.twig' %}

{% block title %}{{ slug|title }} - Portfolio Digitalfy{% endblock %}

{% block body %}
<div class="page-header">
    <div class="container">
        <h1>{{ slug|replace({'-': ' '})|title }}</h1>
    </div>
</div>

<section class="project-detail">
    <div class="container">
        <div class="project-content">
            {# Project case study will be populated dynamically #}
        </div>
    </div>
</section>
{% endblock %}
